<div class="dashboard-container">
    <div class="navbar">
        <h2>Smart User Access Portal</h2>
        <button pButton label="Logout" severity="danger" (click)="logout()"></button>
    </div>
    <div class="dashboard-content">
        <div class="welcome-card">
            <h1>Welcome {{ role === 'ADMIN' ? 'Admin' : 'User' }}</h1>
            <p>JWT Authentication Successful</p>
            <p>Logged in as:<strong>{{ role }}</strong></p>
        </div>

        @if (role === 'ADMIN') {
            <div class="admin-card">
                <h2>Admin Controls</h2>
                <p>You can manage users and system data.</p>
            </div>
        }

        @if (role === 'GENERAL_USER') {
            <div class="user-card">
                <h2>User Dashboard</h2>
                <p>View-only access granted.</p>
            </div>
        }

        <div class="table-card">
            <h2>User Records</h2>
            @if (loading) {
                <div class="spinner-container">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            }
            @if (!loading) {
            <p-table [value]="users" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <p-tag [value]="user.role" [severity]="getSeverity(user.role)"></p-tag>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        }
        </div>
    </div>
</div>