.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right,
        #4facfe,
        #00f2fe
    );
}

.login-card {
    width: 400px;
}

.field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 8px;
    font-weight: 600;
}

.full-width {
    width: 100%;
}

.email-input {
    height: 45px;
}